<h1>Registration Form</h1>
<div>
  <form [formGroup]="registrationFrom" (ngSubmit)="onSubmit()">
    <label>UserName</label>
    <input type="text" formControlName="username"><br><br>

    <label>Password</label>
    <input type="text" formControlName="password"><br><br>

    <label>Confirm Password</label>
    <input type="text" formControlName="confirmpassword"><br><br>
    
    <div formGroupName="address">
      <label>City</label>
      <input type="text" formControlName="city"><br><br>

      <label>State</label>
      <input type="text" formControlName="state"><br><br>

      <label>Postal Code</label>
      <input type="text" formControlName="postalCode"><br><br>
    </div>

    <button type="submit" (click)="onClick()">Register</button>
  </form>
</div>
{{registrationFrom.value | json}}